.app-container {
  display: flex;
  height: 100vh; /* Usa toda la altura de la ventana */
  background-color: #282c34;
  color: white;
  font-family: Arial, sans-serif;
  gap: 1px; /* Espacio entre el editor y la consola */
  /* padding: 10px;
  box-sizing: border-box; */
}

/* Editor: ocupa 2/3 de la ventana */
.editor-container {
  flex: 2;
  position: relative; /* Necesario para ubicar el botón */
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 2px 8px rgba(0,0,0,0.4);
}

/* Botón de ejecutar */
.execute-button {
  position: absolute;
  border-radius: 5px;
  bottom: 10px; 
  right: 20px;    
  padding: 8px 16px;
  background-color: #F0DB4F;
  border: none;
  color: black;
  font-size: 12px;
  cursor: pointer;
  border-radius: 10px;
  z-index: 10;
}

.monaco-editor .cursor {
  transition: all 0.1s !important;
}

.execute-button:hover {
  background-color: #D4BE2F;
}

/* Consola: ocupa 1/3 de la ventana */
.console-container {
  flex: 1;
  background: #000000;
  padding: 15px;
  border-radius: 5px;
  overflow-y: auto; /* Permite scroll si el contenido es demasiado grande */
}

/* Estilo de mensajes en la consola */
.output {
  color: #D4BE2F; /* Color para mensajes de salida */
  white-space: pre-wrap; 
}

.error {
  color: #ff0000; 
  white-space: pre-wrap;
}

.console-log {
  color: #ffffff; 
}
.console-warn {
  color: #ffcc00; 
}
.console-error {
  color: #ff0000; 
}
.console-info {
  color: #00ccff; 
}
.console-debug {
  color: #aaaaaa; 
}
.console-assert {
  color: #ff4500; 
}
